# Read the documentation: https://symfony.com/doc/master/bundles/FOSRestBundle/index.html
fos_rest:
    param_fetcher_listener:  force
#    allowed_methods_listener:  true
#    routing_loader: true
    view:
        view_response_listener:  true
        formats: { json: true, xml: false, rss: false}
#    exception:
#        codes:
#            App\Exception\MyException: 403
#        messages:
#            App\Exception\MyException: Forbidden area.
    body_converter:
        enabled: true
        validate: true
        validation_errors_argument: violations

    format_listener:
        enabled: true
        rules:
            - { path: '^/', fallback_format: 'json', priorities: [ json ] }

    body_listener:
        enabled: true
